@keyframes fadeIn{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.recipe--animation-0{
  animation-name: fadeIn;
  animation-direction: normal;
  animation-duration: 800ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: 400ms;
}
.recipe--animation-1{
  animation-name: fadeIn;
  animation-direction: normal;
  animation-duration: 800ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: 800ms;
}